<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ex.dao.AgentMerchantDao">

    <!-- 条件 -->
    <sql id="Example_Where_Clause">
        <where>
            1 = 1
            <if test="id != null">
                AND id = #{id}
            </if>
            <if test="agentuserid != null">
                AND agentUserId = #{agentuserid}
            </if>
            <if test="merchantid != null">
                AND merchantId = #{merchantid}
            </if>
            <if test="productinfoid != null">
                AND productInfoId = #{productinfoid}
            </if>
            <if test="agenttime != null">
                AND agentTime = #{agenttime}
            </if>
            <if test="updatetime != null">
                AND updateTime = #{updatetime}
            </if>
            <if test="status != null">
                AND status = #{status}
            </if>
        </where>
    </sql>

    <!--添加商家代理-->
    <insert id="insertAgentMerchant" useGeneratedKeys="true" keyProperty="id"
            parameterType="com.ex.entity.AgentMerchant">
        INSERT INTO agent_merchant (agentUserId, merchantId, productInfoId, agentTime, updateTime, status)
        VALUES (#{agentuserid}, #{merchantid}, #{productinfoid}, #{agenttime}, #{updatetime}, #{status})
    </insert>

    <!--按条件查询商家代理-->
    <select id="byConditionsQuery" resultType="com.ex.entity.AgentMerchant"
            parameterType="com.ex.entity.MerchantInviter">
        SELECT * FROM agent_merchant
        <include refid="Example_Where_Clause"/>
    </select>

    <!--按条件查询可代理商品的商家信息-->
    <select id="byConditionsQueryAndMerchantInfo" resultType="com.ex.vo.AgentMerchantVo" parameterType="java.lang.Long">
        SELECT DISTINCT(si.merchantId),am.agentUserId,si.storeName,si.advertisingPicUrl,pc.typeName
        FROM agent_merchant am
        LEFT JOIN store_info si ON am.merchantId = si.merchantId
        LEFT JOIN product_classify pc ON pc.id = si.productClassifyId
        WHERE am.agentUserId = #{agentUserId}
        ORDER BY merchantId
    </select>

    <!--按条件查询可代理商品的商家信息-->
    <select id="byConditionsQueryAndProductinfo" resultType="com.ex.vo.AgentMerchantProductinfoVo" parameterType="java.lang.Long">
        SELECT am.* ,pm.productName,pm.productPicUrl,pm.resalePrice,pm.vipPrice
        FROM agent_merchant am
        LEFT JOIN productinfo_manage pm ON pm.id = am.productInfoId AND pm.merchantId = am.merchantId
        WHERE am.agentUserId = #{agentUserId}
        ORDER BY merchantId
    </select>

    <!--按ID修改商家代理-->
    <update id="updateAgentMerchant" parameterType="com.ex.entity.AgentMerchant">
        UPDATE agent_merchant
        <set>
            <if test="agentuserid != null">agentUserId = #{agentuserid},</if>
            <if test="merchantid != null">merchantId = #{merchantid},</if>
            <if test="productinfoid != null">productInfoId = #{productinfoid},</if>
            <if test="agenttime != null">agentTime = #{agenttime},</if>
            <if test="updatetime != null">updateTime = #{updatetime},</if>
            <if test="status != null">status = #{status},</if>
        </set>
        where id = #{id}
    </update>

    <!--按ID和用户ID修改商家代理-->
    <update id="updateAgentMerchantByAgentUserId" parameterType="com.ex.entity.AgentMerchant">
        UPDATE agent_merchant
        <set>
            <if test="agenttime != null">agentTime = #{agenttime},</if>
            <if test="updatetime != null">updateTime = #{updatetime},</if>
            <if test="status != null">status = #{status},</if>
        </set>
        where id = #{id} and agentUserId = #{agentUserId}
    </update>
</mapper>