<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ex.dao.AppointmentSetDao">

	<!--设置预约配置，添加数据-->
	<insert id="insertAppointmentSet" parameterType="com.ex.entity.AppointmentSet">
		insert appointment_set (merchantId,appointmentTime,minPeople,maxPeople,createTime,price)
		values(#{merchantId},#{appointmentTime},#{minPeople},#{maxPeople},#{createTime},#{price})
	</insert>
</mapper>