<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ex.dao.AppointmentOrderDao">


	<!--查询商品详情-->
	<select id="selectProductPrice" parameterType="Long" resultType="com.ex.vo.ProductInfoManageVo">
		select * from productinfo_manage where id = #{id}
	</select>
	<!--添加预约订单，添加数据-->
	<insert id="insertAppointmentOrder" parameterType="com.ex.entity.AppointmentOrder">
		insert appointment_order (registUserId,merchantId,productInfoIds,registUsername,contactsName,contactsPhone,
		peopleNum,orderNum,merchantName,productName,appointmentMoney,appointmentTime,
		createTime,remark,payWay,payStatus)
		values(#{registUserId},#{merchantId},#{productInfoIds},#{registUsername},#{contactsName},
		#{contactsPhone},#{peopleNum},#{orderNum},#{merchantName},#{productName},
		#{appointmentMoney},#{appointmentTime},#{createTime},#{remark},#{payWay},
		#{payStatus})
	</insert>

	<!--查询某商家的所有的预约信息-->
	<select id="selectAppointmentOrder" parameterType="java.util.Map" resultType="com.ex.vo.AppointmentOrderVo">
		select ao.*,mr.username username from appointment_order ao
		left join merchant_regist mr on  mr.id = ao.merchantId
		where 1=1
		<if test="username!=null and username !=''">
			and mr.username = #{username}
		</if>
		<if test="startTime!=null and endTime==null">
			and ao.appointmentTime &gt;= #{startTime}
		</if>
		<if test="startTime==null and endTime !=null">
			and ao.appointmentTime &lt;= #{endTime}
		</if>
		<if test="startTime!=null and endTime!=null">
			and ao.appointmentTime BETWEEN #{startTime} AND #{endTime}
		</if>
		and ao.merchantId = #{merchantId}
	</select>

	<!--所有某商家的预约信息的总数量-->
	<select id="selectAppointmentOrderCount" parameterType="java.util.Map" resultType="Integer">
		select count(ao.id) from appointment_order ao
		left join merchant_regist mr on mr.id =  ao.merchantId
		where 1=1
		<if test="username!=null and username !=''">
			and mr.username = #{username}
		</if>
		<if test="startTime!=null and endTime==null">
			and ao.appointmentTime &gt;= #{startTime}
		</if>
		<if test="startTime==null and endTime !=null">
			and ao.appointmentTime &lt;= #{endTime}
		</if>
		<if test="startTime!=null and endTime!=null">
			and ao.appointmentTime BETWEEN #{startTime} AND #{endTime}
		</if>
		and ao.merchantId = #{merchantId}
	</select>

	<!--取消预约订单，修改status状态（取消订单，退钱）-->
	<update id="updateAppointmentOrder" parameterType="com.ex.vo.AppointmentOrderVo">
		update appointment_order SET
		<if test="status!=null">
			status = #{status},
		</if>
		<if test="updateTime!=null">
			updateTime = #{updateTime}
		</if>
		where id = #{id}
	</update>

	<!--查询预订订单详情，根据id-->
	<select id="selectAppAppointmentById" parameterType="Long" resultType="com.ex.vo.AppointmentOrderVo">
		select * from appointment_order where id = #{id}
	</select>

	<!--查询某个订单预定的所有商品信息-->
	<select id="selectProductsByIds" parameterType="String" resultType="com.ex.entity.ProductInfoManage">
		select * from product_info where id in(#{productInfoIds})
	</select>

	<!--根据用户Id查询该用户所有的预定信息-->
	<select id="selectAppointmentOrderByUserApp" parameterType="java.lang.Long" resultType="com.ex.vo.AppointmentOrderByUserAppVo">
		select ao.*,si.storeName storeName,si.advertisingPicUrl picUrl from appointment_order ao
		left join store_info si on  si.merchantId = ao.merchantId
		where ao.registUserId = #{registUserId}
	</select>

</mapper>