<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ex.dao.BusinessLicenseInfoDao">
    <!-- 条件 -->
    <sql id="Example_Where_OR_Clause">
        <where>
            1 != 1
            <if test="businessLicenseInfo.id != null" >
                OR id = #{businessLicenseInfo.id}
            </if>
            <if test="businessLicenseInfo.type != null" >
                OR type = #{businessLicenseInfo.type}
            </if>
            <if test="businessLicenseInfo.merchantid != null" >
                OR merchantId = #{businessLicenseInfo.merchantid}
            </if>
            <if test="businessLicenseInfo.registuserid != null" >
                OR registUserId = #{businessLicenseInfo.registuserid}
            </if>
            <if test="businessLicenseInfo.companyname != null" >
                OR companyName = #{businessLicenseInfo.companyname}
            </if>
            <if test="businessLicenseInfo.legalperson != null" >
                OR legalPerson = #{businessLicenseInfo.legalperson}
            </if>
            <if test="businessLicenseInfo.companyaddress != null" >
                OR companyAddress = #{businessLicenseInfo.companyaddress}
            </if>
            <if test="businessLicenseInfo.establishmentdate != null" >
                OR establishmentDate = #{businessLicenseInfo.establishmentdate}
            </if>
            <if test="businessLicenseInfo.validityperiod != null" >
                OR validityPeriod = #{businessLicenseInfo.validityperiod}
            </if>
            <if test="businessLicenseInfo.merchantidnumber != null" >
                OR merchantIdNumber = #{businessLicenseInfo.merchantidnumber}
            </if>
            <if test="businessLicenseInfo.socialcreditcode != null" >
                OR socialCreditCode = #{businessLicenseInfo.socialcreditcode}
            </if>
            <if test="businessLicenseInfo.idcard != null" >
                OR idCard = #{businessLicenseInfo.idcard}
            </if>
            <if test="businessLicenseInfo.realname != null" >
                OR realName = #{businessLicenseInfo.realname}
            </if>
            <if test="businessLicenseInfo.sex != null" >
                OR sex = #{businessLicenseInfo.sex}
            </if>
            <if test="businessLicenseInfo.birthday != null" >
                OR birthday = #{businessLicenseInfo.birthday}
            </if>
            <if test="businessLicenseInfo.address != null" >
                OR address = #{businessLicenseInfo.address}
            </if>
            <if test="businessLicenseInfo.national != null" >
                OR  national = #{businessLicenseInfo.national}
            </if>
            <if test="businessLicenseInfo.createtime != null" >
                OR createTime = #{businessLicenseInfo.createtime}
            </if>
            <if test="businessLicenseInfo.status != null" >
                OR status = #{businessLicenseInfo.status}
            </if>
        </where>
    </sql>


    <!--查询所有营业执照信息-->
    <select id="findByPage" resultType="com.ex.entity.BusinessLicenseInfo">
        SELECT
        *
        FROM business_license_info
    </select>

    <!--添加营业执照信息-->
    <insert id="insertBusinessLicenseInfo" useGeneratedKeys="true" keyProperty="id" parameterType="com.ex.entity.BusinessLicenseInfo">
        insert into business_license_info (id, type, merchantId,
      registUserId, companyName, legalPerson,
      companyAddress, establishmentDate, validityPeriod, merchantIdNumber,
      socialCreditCode, idCard, realName,
      sex, birthday, address,
      national, createTime, status
      )
    values (#{id}, #{type}, #{merchantid},
      #{registuserid}, #{companyname}, #{legalperson},
      #{companyaddress}, #{establishmentdate}, #{validityperiod}, #{merchantidnumber},
      #{socialcreditcode}, #{idcard}, #{realname},
      #{sex}, #{birthday}, #{address},
      #{national}, #{createtime}, #{status}
      )
    </insert>

    <!--按条件查询身份证信息-->
    <select id="byConditionsQuery" parameterType="com.ex.entity.BusinessLicenseInfo" >
        select
        *
        from business_license_info
        <include refid="Example_Where_OR_Clause" />
    </select>

</mapper>