<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ex.dao.IndexAdvertisingDao">

	<!--添加首页广告-->
	<insert id="insertAdvertising" parameterType="com.ex.entity.IndexAdvertising">
		insert into index_advertising(advertiseName,link,advertisePicUrl,createTime) values(#{advertiseName},#{link},#{advertisePicUrl},#{createTime})
	</insert>

	<!--查询广告的所有信息-->
	<select id="selectAdvertising" resultType="com.ex.entity.IndexAdvertising">
		select * from index_advertising where status = 1
	</select>

	<!--查询总数量-->
	<select id="selectAdvertisingCount" resultType="Integer">
		select count(*) from index_advertising where status =1
	</select>

	<!--编辑-->
	<update id="updateAdvertising" parameterType="com.ex.entity.IndexAdvertising">
		update index_advertising set
		<if test="advertiseName!=null and advertiseName!=''">
			advertiseName = #{advertiseName},
		</if>
		<if test="link!=null and link!=''">
			link = #{link},
		</if>
		<if test="advertisePicUrl!=null and advertisePicUrl!=''">
			advertisePicUrl = #{advertisePicUrl},
		</if>
		<if test="status!=null">
			status = #{status},
		</if>
		<if test="updateTime!=null">
			updateTime = #{updateTime}
		</if>
		where id= #{id}
	</update>

	<!--根据id查询详情-->
	<select id="selectAdvertisingById" parameterType="Long" resultType="com.ex.entity.IndexAdvertising">
		select * from index_advertising where id = #{id}
	</select>
</mapper>