<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ex.dao.MerchantorpersonCheckInDao">

    <!--查询商家-->
    <select id="findByPage" resultType="com.ex.entity.MerchantorpersonCheckIn">
        SELECT
        *
        FROM merchantorperson_check_in
    </select>

    <!--注册商家-->
    <insert id="insertMerchantRegist" useGeneratedKeys="true" keyProperty="id" parameterType="com.ex.entity.MerchantorpersonCheckIn">
        insert into merchantorperson_check_in (
        merchantId, checkInType,
      linkmanName, companyName, companyCode,
      legalName, companyAddress, companyCreateTime,
      registMoney, charterPicUrl, idCardPicUrl_Z,
      idCardPicUrl_F, idCardPic, industry,
      checkInTime, checkInMoney, checkInMoneyStatus,
      checkInPayStatus, status, updateTime
        )
        values (
        #{merchantid}, #{checkintype},
        #{linkmanname}, #{companyname}, #{companycode},
        #{legalname}, #{companyaddress}, #{companycreatetime},
        #{registmoney}, #{charterpicurl}, #{idcardpicurlZ},
        #{idcardpicurlF}, #{idcardpic}, #{industry},
        #{checkintime}, #{checkinmoney}, #{checkinmoneystatus},
        #{checkinpaystatus}, #{status}, #{updatetime}
        )
    </insert>

</mapper>