<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ex.dao.MerchantInviterDao">

    <!-- 条件 -->
    <sql id="Example_Where_OR_Clause">
        <where>
            1 = 1
            <if test="record.inviterCode != null" >
                AND inviterCode = #{record.invitercode}
            </if>
            <if test="record.inviterMerchantId != null" >
                AND inviterMerchantId = #{record.inviterMerchantId}
            </if>
            <if test="record.createTime != null" >
                AND createTime = #{record.createTime}
            </if>
            <if test="record.updateTime != null" >
                AND updateTime = #{record.updateTime}
            </if>
            <if test="record.status != null" >
                AND status = #{record.status}
            </if>
        </where>
    </sql>

    <!--生成邀请码-->
    <insert id="insertMerchantInviter" useGeneratedKeys="true" keyProperty="invitercode"
            parameterType="com.ex.entity.MerchantInviter">
    INSERT INTO merchant_inviter (inviterCode,inviterMerchantId,createTime, updateTime, status)
    VALUES (#{inviterCode},#{inviterMerchantId},#{createTime}, #{updateTime}, #{status})
    </insert>

    <!--按条件查询邀请码信息-->
    <select id="byConditionsQuery" resultType="com.ex.entity.MerchantInviter"
            parameterType="com.ex.entity.MerchantInviter">
        SELECT * FROM merchant_inviter
        <include refid="Example_Where_OR_Clause"/>
    </select>

    <!--按商家id查询邀请码-->
    <select id="selectByMerchantid" resultType="com.ex.entity.MerchantInviter" parameterType="java.lang.Long">
        SELECT * FROM merchant_inviter WHERE inviterMerchantId = #{inviterMerchantId}
    </select>

    <!--按邀请码查询邀请码信息-->
    <select id="selectByInvitercode" resultType="com.ex.entity.MerchantInviter" parameterType="java.lang.Long">
        SELECT * FROM merchant_inviter WHERE inviterCode = #{inviterCode}
    </select>

    <!--修改邀请码状态-->
    <update id="selectInvitercodeByMerchantid" parameterType="com.ex.entity.MerchantInviter">
        UPDATE merchant_inviter
        SET updateTime = #{updateTime},status = #{status}
        WHERE inviterCode = #{inviterCode}
    </update>
</mapper>