<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ex.dao.MerchantorpersonCheckInDao">

    <!-- 条件 -->
    <sql id="Example_Where_OR_Clause">
        <where>
            1 = 1
            <if test="record.id != null" >
                AND id = #{record.id}
            </if>
            <if test="record.merchantId != null" >
                AND merchantId = #{record.merchantId}
            </if>
            <if test="record.checkintype != null" >
                AND checkInType = #{record.checkintype}
            </if>
            <if test="record.invitercode != null" >
                AND inviterCode = #{record.invitercode}
            </if>
            <if test="record.linkmanname != null" >
                AND linkmanName = #{record.linkmanname}
            </if>
            <if test="record.companyname != null" >
                AND companyName = #{record.companyname}
            </if>
            <if test="record.companycode != null" >
                AND companyCode = #{record.companycode}
            </if>
            <if test="record.legalname != null" >
                AND legalName = #{record.legalname}
            </if>
            <if test="record.companyaddress != null" >
                AND companyAddress = #{record.companyaddress}
            </if>
            <if test="record.companycreatetime != null" >
                AND companyCreateTime = #{record.companycreatetime}
            </if>
            <if test="record.industryId != null" >
                AND industryId = #{record.industryId}
            </if>
            <if test="record.checkintime != null" >
                AND checkInTime = #{record.checkintime}
            </if>
            <if test="record.checkinmoney != null" >
                AND checkInMoney = #{record.checkinmoney}
            </if>
            <if test="record.checkinpaytype != null" >
                AND checkInPayType = #{record.checkinpaytype}
            </if>
            <if test="record.checkinpaystatus != null" >
                AND checkInPayStatus = #{record.checkinpaystatus}
            </if>
            <if test="record.causeby != null" >
                AND causeBy = #{record.causeby}
            </if>
            <if test="record.status != null" >
                AND status = #{record.status}
            </if>
            <if test="record.updatetime != null" >
                AND updateTime = #{record.updatetime}
            </if>
        </where>
    </sql>

    <!--查询所有入驻信息-->
    <select id="findByPage" resultType="com.ex.entity.MerchantorpersonCheckIn">
        SELECT
        *
        FROM merchantorperson_check_in
    </select>

    <!--商家入驻-->
    <insert id="insertMerchantorpersonCheckIn" useGeneratedKeys="true" keyProperty="id" parameterType="com.ex.entity.MerchantorpersonCheckIn">
        insert into merchantorperson_check_in (merchantId, checkInType,
        inviterCode, linkmanName, companyName,
        companyCode, legalName, companyAddress,
        companyCreateTime, charterPicUrl,
        idCardPicUrl_Z, idCardPicUrl_F, idCardPic,
        industryId, checkInTime, checkInMoney,
        checkInPayType, checkInPayStatus, causeBy,
        status, updateTime)
        values (#{merchantId}, #{checkintype},
        #{invitercode}, #{linkmanname}, #{companyname},
        #{companycode}, #{legalname}, #{companyaddress},
        #{companycreatetime}, #{charterpicurl},
        #{idcardpicurlZ}, #{idcardpicurlF}, #{idcardpic},
        #{industryId}, #{checkintime}, #{checkinmoney},
        #{checkinpaytype}, #{checkinpaystatus}, #{causeby},
        #{status}, #{updatetime})
    </insert>

    <!--按条件查询入驻信息-->
    <select id="byConditionsQuery" resultType="com.ex.entity.MerchantorpersonCheckIn" parameterType="com.ex.entity.MerchantorpersonCheckIn" >
    select
    *
    from merchantorperson_check_in
    <include refid="Example_Where_OR_Clause" />
    </select>

    <!--按注册人Id和入住类型查询-->
    <select id="selectByMerchantId" resultType="com.ex.entity.MerchantorpersonCheckIn" parameterType="map">
        SELECT * FROM merchantorperson_check_in WHERE merchantId = #{merchantId} AND checkInType = #{checkInType}
    </select>

    <update id="updateMerchantorpersonCheckIn" parameterType="com.ex.entity.MerchantorpersonCheckIn" >
        update merchantorperson_check_in
        <set >
            <if test="invitercode != null" >inviterCode = #{invitercode},</if>
            <if test="linkmanname != null" >linkmanName = #{linkmanname},</if>
            <if test="companyname != null" >companyName = #{companyname},</if>
            <if test="companycode != null" >companyCode = #{companycode},</if>
            <if test="legalname != null" >legalName = #{legalname},</if>
            <if test="companyaddress != null" >companyAddress = #{companyaddress},</if>
            <if test="companycreatetime != null" >companyCreateTime = #{companycreatetime},</if>
            <if test="charterpicurl != null" >charterPicUrl = #{charterpicurl},</if>
            <if test="idcardpicurlZ != null" >idCardPicUrl_Z = #{idcardpicurlZ},</if>
            <if test="idcardpicurlF != null" >idCardPicUrl_F = #{idcardpicurlF},</if>
            <if test="idcardpic != null" >idCardPic = #{idcardpic},</if>
            <if test="industryId != null" >industryId = #{industryId},</if>
            <if test="checkintime != null" >checkInTime = #{checkintime},</if>
            <if test="checkinmoney != null" >checkInMoney = #{checkinmoney},</if>
            <if test="checkinpaystatus != null" >checkInPayStatus = #{checkinpaystatus},</if>
            <if test="checkinpaytype != null" >checkInPayType = #{checkinpaytype},</if>
            <if test="causeby != null" >causeBy = #{causeby},</if>
            <if test="status != null" >status = #{status},</if>
            <if test="updatetime != null" >updateTime = #{updatetime},</if>
        </set>
        where id = #{id}
    </update>

    <update id="auditTheMerchant" parameterType="map" >
        update merchantorperson_check_in
        set causeBy = #{causeby},
        status = #{status},
        updateTime = #{updateTime}
        where id = #{id}
    </update>

</mapper>