<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ex.dao.MyUploadFileDao">
	<!-- 用户app视享上传文件-->
    <insert id="insertMyUploadFile" parameterType="com.ex.entity.MyUploadFile" >
	INSERT INTO my_upload_file
        (registUserId,fileUrl,musicId,my_upload_file.`describe`,link,createTime,updateTime,status)
        VALUES
        (#{registUserId},#{fileUrl},#{musicId},#{describe},#{link},#{createTime},#{updateTime},#{status})
	</insert>
    <!-- 用户App 我享查询已发布效果-->
    <select id="selectListMyUploadFile" parameterType="java.util.Map" resultType="com.ex.entity.MyUploadFile">
        SELECT * FROM my_upload_file WHERE registUserId=#{registUserId}
    </select>

</mapper>