<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ex.dao.ShareOrderDao">

    <!--返回结果映射到实体类-->
    <resultMap id="ShareOrderResultMap" type="com.ex.entity.ShareOrder">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="orderNum" property="ordernum"/>
        <result column="buyUserId" property="buyuserid"/>
        <result column="shareUserId" property="shareuserid"/>
        <result column="shareUsername" property="shareusername"/>
        <result column="buyUsername" property="buyusername"/>
        <result column="shareMechanism" property="sharemechanism"/>
        <result column="commission" property="commission"/>
        <result column="merchantName" property="merchantname"/>
        <result column="orderMoney" property="ordermoney"/>
        <result column="createTime" property="createtime"/>
        <result column="updateTime" property="updatetime"/>
        <result column="payStatus" property="paystatus"/>
        <result column="status" property="status"/>
        <association property="orders" javaType="com.ex.entity.Orders">
            <id column="id" property="id"/>
            <result column="orderNum" property="ordernum"/>
            <result column="productNum" property="productnum"/>
            <result column="orderMoney" property="ordermoney"/>
            <result column="productInfoId" property="productinfoid"/>
            <result column="addressId" property="addressid"/>
            <result column="createTime" property="createtime"/>
            <result column="payTime" property="paytime"/>
            <result column="sendTime" property="sendtime"/>
            <result column="finishTime" property="finishtime"/>
            <result column="money" property="money"/>
            <result column="payStatus" property="paystatus"/>
            <result column="backCauseBy" property="backcauseby"/>
            <result column="backNum" property="backnum"/>
            <result column="status" property="status"/>
            <association property="productInfoManage" javaType="com.ex.entity.ProductInfoManage">
                <id column="id" property="id"/>
                <result column="productName" property="productName"/>
                <result column="productClassifyId" property="productClassifyId"/>
                <result column="agentPrice" property="agentPrice"/>
                <result column="vipPrice" property="vipPrice"/>
                <result column="resalePrice" property="resalePrice"/>
                <result column="storeNum" property="storeNum"/>
                <result column="storePrewarnNum" property="storePrewarnNum"/>
                <result column="productPicUrl" property="productPicUrl"/>
                <result column="appSlideshowPic" property="appSlideshowPic"/>
                <result column="pcSlideshowPic" property="pcSlideshowPic"/>
                <result column="productDescribe" property="productDescribe"/>
                <result column="brandId" property="brandId"/>
                <result column="startTime" property="startTime"/>
                <result column="endTime" property="endTime"/>
                <result column="createTime" property="createTime"/>
                <result column="updateTime" property="updateTime"/>
                <result column="shareSet" property="shareSet"/>
                <result column="saleOrderNum" property="saleOrderNum"/>
                <result column="SHStatus" property="SHStatus"/>
                <result column="SXJStatus" property="sxjstatus"/>
                <result column="DLStatus" property="DLStatus"/>
            </association>
        </association>

    </resultMap>

    <!--条件-->
    <sql id="Example_Where_Clause">
        <where>
            1=1
            <if test="id != null">AND so.id = #{id}</if>
            <if test="ordernum != null">AND so.orderNum = #{ordernum}</if>
            <if test="buyuserid != null">AND so.buyUserId = #{buyuserid}</if>
            <if test="shareuserid != null">AND so.shareUserId = #{shareuserid}</if>
            <if test="shareusername != null">AND so.shareUsername = #{shareusername}</if>
            <if test="buyusername != null">AND so.buyUsername = #{buyusername}</if>
            <if test="sharemechanism != null">AND so.shareMechanism = #{sharemechanism}</if>
            <if test="commission != null">AND so.commission = #{commission}</if>
            <if test="merchantname != null">AND so.merchantName = #{merchantname}</if>
            <if test="ordermoney != null">AND so.orderMoney = #{ordermoney}</if>
            <if test="startTime!=null and endTime==null">
                and so.createTime &gt;= #{startTime}
            </if>
            <if test="endTime!=null and startTime==null">
                and so.createTime &lt;= #{endTime}
            </if>
            <if test="endTime!=null and startTime!=null">
                and so.createTime BETWEEN #{startTime} AND #{endTime}
            </if>
            <if test="updatetime != null">AND so.updateTime = #{updatetime}</if>
            <if test="paystatus != null">AND so.payStatus = #{paystatus}</if>
            <if test="status != null">AND so.status = #{status}</if>
        </where>
    </sql>
    <!--按条件查询所有分享信息-->
    <select id="selectShareOrderAll" resultMap="ShareOrderResultMap" parameterType="com.ex.entity.ShareOrder">
        SELECT * FROM share_order  so  JOIN orders o ON so.orderNum = o.orderNum JOIN productinfo_manage pm ON o.productInfoId = pm.id
        <include refid="Example_Where_Clause"/>
    </select>
    <!--按条件id精确查找分享信息-->
    <select id="selectShareOrderById" resultMap="ShareOrderResultMap" parameterType="java.lang.Long">
        SELECT * FROM share_order  so  JOIN orders o ON so.orderNum = o.orderNum JOIN productinfo_manage pm ON o.productInfoId = pm.id WHERE so.id = #{id}
    </select>
    <!--添加分享信息-->
    <insert id="insertShareOrder" useGeneratedKeys="true" keyProperty="id" parameterType="com.ex.entity.ShareOrder">
        INSERT INTO share_order (orderNum, buyUserId, shareUserId, shareUsername, buyUsername, shareMechanism, commission, merchantName,orderMoney, createTime, updateTime, payStatus, status)
        VALUES (#{ordernum}, #{buyuserid}, #{shareuserid}, #{shareusername}, #{buyusername}, #{sharemechanism}, #{commission}, #{merchantname}, #{ordermoney}, #{createtime}, #{updatetime}, #{paystatus}, #{status})
    </insert>
    <!--修改分享信息-->
    <update id="uodateShareOrder" parameterType="com.ex.entity.ShareOrder">
        update share_order
        set orderNum = #{ordernum},
        buyUserId = #{buyuserid},
        shareUserId = #{shareuserid},
        shareUsername = #{shareusername},
        buyUsername = #{buyusername},
        shareMechanism = #{sharemechanism},
        commission = #{commission},
        merchantName = #{merchantname},
        orderMoney = #{ordermoney},
        createTime = #{createtime},
        updateTime = #{updatetime},
        payStatus = #{paystatus},
        status = #{status}
        where id = #{id}
    </update>

    <select id="selectShareOrderInfo" resultType="com.ex.entity.ShareOrderInfo" parameterType="map">
        select COUNT(buyUserId) AS buyUserIds,SUM(orderMoney) AS orderMoneys,SUM(commission) AS commissions,COUNT(*) AS counts FROM share_order where merchantId = #{merchantId} AND payStatus = #{payStatus}
    </select>

</mapper>