<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ex.dao.ShareOrderDao">

    <!--返回结果映射到实体类-->
    <resultMap id="ShareOrderResultMap" type="com.ex.entity.ShareOrder">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="orderNum" property="orderNum"/>
        <result column="buyUserId" property="buyUserId"/>
        <result column="shareUserId" property="shareUserId"/>
        <result column="productInfoId" property="productInfoId"/>
        <result column="shareUsername" property="shareUsername"/>
        <result column="buyUsername" property="buyUsername"/>
        <result column="shareMechanism" property="shareMechanism"/>
        <result column="commission" property="commission"/>
        <result column="IsCommission" property="IsCommission"/>
        <result column="merchantName" property="merchantName"/>
        <result column="orderMoney" property="orderMoney"/>
        <result column="createTime" property="createTime"/>
        <result column="updateTime" property="updateTime"/>
        <result column="payStatus" property="payStatus"/>
        <result column="status" property="status"/>
        <association property="orders" javaType="com.ex.entity.Orders">
            <id column="id" property="id"/>
            <result column="orderNum" property="orderNum"/>
            <result column="productNum" property="productNum"/>
            <result column="orderMoney" property="orderMoney"/>
            <result column="productInfoId" property="productInfoId"/>
            <result column="addressId" property="addressId"/>
            <result column="createTime" property="createTime"/>
            <result column="payTime" property="payTime"/>
            <result column="sendTime" property="sendTime"/>
            <result column="finishTime" property="finishTime"/>
            <result column="money" property="money"/>
            <result column="payStatus" property="payStatus"/>
            <result column="backCauseBy" property="backCauseBy"/>
            <result column="backNum" property="backNum"/>
            <result column="status" property="status"/>
            <association property="productInfoManage" javaType="com.ex.entity.ProductInfoManage">
                <id column="id" property="id"/>
                <result column="productName" property="productName"/>
                <result column="productClassifyId" property="productClassifyId"/>
                <result column="agentPrice" property="agentPrice"/>
                <result column="vipPrice" property="vipPrice"/>
                <result column="resalePrice" property="resalePrice"/>
                <result column="storeNum" property="storeNum"/>
                <result column="storePrewarnNum" property="storePrewarnNum"/>
                <result column="productPicUrl" property="productPicUrl"/>
                <result column="appSlideshowPic" property="appSlideshowPic"/>
                <result column="pcSlideshowPic" property="pcSlideshowPic"/>
                <result column="productDescribe" property="productDescribe"/>
                <result column="brandId" property="brandId"/>
                <result column="startTime" property="startTime"/>
                <result column="endTime" property="endTime"/>
                <result column="createTime" property="createTime"/>
                <result column="updateTime" property="updateTime"/>
                <result column="shareSet" property="shareSet"/>
                <result column="saleOrderNum" property="saleOrderNum"/>
                <result column="SHStatus" property="SHStatus"/>
                <result column="SXJStatus" property="SXJStatus"/>
                <result column="DLStatus" property="DLStatus"/>
            </association>
        </association>

    </resultMap>

    <!--条件-->
    <sql id="Example_Where_Clause">
        <where>
            1=1
            <if test="id != null">AND so.id = #{id}</if>
            <if test="orderNum != null">AND so.orderNum = #{orderNum}</if>
            <if test="buyUserId != null">AND so.buyUserId = #{buyUserId}</if>
            <if test="shareUserId != null">AND so.shareUserId = #{shareUserId}</if>
            <if test="shareUsername != null">AND so.shareUsername = #{shareUsername}</if>
            <if test="buyUsername != null">AND so.buyUsername = #{buyUsername}</if>
            <if test="shareMechanism != null">AND so.shareMechanism = #{shareMechanism}</if>
            <if test="commission != null">AND so.commission = #{commission}</if>
            <if test="IsCommission != null">AND so.IsCommission = #{IsCommission}</if>
            <if test="merchantName != null">AND so.merchantName = #{merchantName}</if>
            <if test="orderMoney != null">AND so.orderMoney = #{orderMoney}</if>
            <if test="startTime!=null and endTime==null">
                and so.createTime &gt;= #{startTime}
            </if>
            <if test="endTime!=null and startTime==null">
                and so.createTime &lt;= #{endTime}
            </if>
            <if test="endTime!=null and startTime!=null">
                and so.createTime BETWEEN #{startTime} AND #{endTime}
            </if>
            <if test="updateTime != null">AND so.updateTime = #{updateTime}</if>
            <if test="payStatus != null">AND so.payStatus = #{payStatus}</if>
            <if test="status != null">AND so.status = #{status}</if>
        </where>
    </sql>
    <!--按条件查询所有分享信息-->
    <select id="selectShareOrderAll" resultMap="ShareOrderResultMap" parameterType="com.ex.entity.ShareOrder">
        SELECT * FROM share_order  so LEFT JOIN orders o ON so.orderNum = o.orderNum LEFT JOIN productinfo_manage pm ON o.productInfoId = pm.id
        <include refid="Example_Where_Clause"/>
    </select>
    <!--按分享人id查询所有分享信息-->
    <select id="selectShareOrderByShareUserIdAll" parameterType="map" resultType="com.ex.vo.ShareOrderVo">
        SELECT
            so.shareMechanism shareMechanism,
            o.orderNum orderNum,
            o.orderMoney orderMoney,
            o.productNum productNum,
            o.finishTime finishTime,
            o.createTime createTime,
            pm.productName productName,
            pm.productPicUrl productPicUrl,
            upd.nickName nickName
        FROM share_order so
        LEFT JOIN orders o ON so.orderNum = o.orderNum
        LEFT JOIN productinfo_manage pm ON o.productInfoId = pm.id
        LEFT JOIN userapp_person_data upd ON so.buyUserId = upd.registUserId
        WHERE so.shareUserId = #{shareUserId} AND so.productInfoId = #{productInfoId}
    </select>
    <!--按条件id精确查找分享信息-->
    <select id="selectShareOrderById" resultMap="ShareOrderResultMap" parameterType="java.lang.Long">
        SELECT * FROM share_order  so  JOIN orders o ON so.orderNum = o.orderNum LEFT JOIN productinfo_manage pm ON o.productInfoId = pm.id WHERE so.id = #{id}
    </select>
    <!--添加分享订单信息-->
    <insert id="insertShareOrder" useGeneratedKeys="true" keyProperty="id" parameterType="com.ex.entity.ShareOrder">
        INSERT INTO share_order (orderNum, buyUserId, shareUserId, shareUsername, buyUsername, productInfoId,shareMechanism, commission, merchantName,orderMoney, createTime, updateTime, payStatus, status)
        VALUES (#{orderNum}, #{buyUserId}, #{shareUserId}, #{shareUsername}, #{buyUsername},#{productInfoId}, #{shareMechanism}, #{commission}, #{merchantName}, #{orderMoney}, #{createTime}, #{updateTime}, #{payStatus}, #{status})
    </insert>
    <!--修改分享信息-->
    <update id="uodateShareOrder" parameterType="com.ex.entity.ShareOrder">
        update share_order
        set orderNum = #{orderNum},
        buyUserId = #{buyUserId},
        shareUserId = #{shareUserId},
        shareUsername = #{shareUsername},
        buyUsername = #{buyUsername},
        shareMechanism = #{shareMechanism},
        commission = #{commission},
        IsCommission = #{IsCommission},
        merchantName = #{merchantName},
        orderMoney = #{orderMoney},
        createTime = #{createTime},
        updateTime = #{updateTime},
        payStatus = #{payStatus},
        status = #{status}
        where id = #{id}
    </update>

    <!--查询顶部统计数据-->
    <select id="selectShareOrderInfo" resultType="com.ex.entity.ShareOrderInfo" parameterType="map">
        select COUNT(buyUserId) AS buyUserIds,SUM(orderMoney) AS orderMoneys,SUM(commission) AS commissions,COUNT(*) AS counts FROM share_order where merchantId = #{merchantId} AND payStatus = #{payStatus}
    </select>

    <select id="selectShareOrederInfoVo" resultType="com.ex.vo.ShareOrderInfoVo" parameterType="map">
        select
        (
        select SUM(so.orderMoney)
        FROM share_order so
        LEFT JOIN orders o ON so.orderNum = o.orderNum
        where so.shareUserId = #{userId}
        ) total ,
        (
        select SUM(so.orderMoney)
        FROM share_order so
        LEFT JOIN orders o ON so.orderNum = o.orderNum
        where so.shareUserId = #{userId}
        AND o.finishTime > '2018-07-04 08:36:04'
        ) waitRevenue ,
        (
        select COUNT(*)
        FROM share_order so
        LEFT JOIN orders o ON so.orderNum = o.orderNum
        where so.shareUserId = #{userId}
        AND o.finishTime &gt; #{finishTime}
        ) completeOrder ,
        (
        select COUNT(*)
        FROM share_order so
        LEFT JOIN orders o ON so.orderNum = o.orderNum
        where so.shareUserId = #{userId}
        AND o.finishTime &lt; #{finishTime}
        ) orderInTransaction
    </select>
</mapper>