<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ex.dao.UserAppRegistDao">

    <select id="findByPage" resultType="com.ex.entity.UserAppRegist">
        SELECT
        *
        FROM userapp_regist
    </select>

    <select id="selectUserAppRegistById" resultType="com.ex.entity.UserAppRegist" parameterType="java.lang.Long">
        SELECT * FROM userapp_regist WHERE id = #{id}
    </select>

    <insert id="insertUserAppRegist" useGeneratedKeys="true" keyProperty="id"
            parameterType="com.ex.entity.UserAppRegist">
    insert into userapp_regist (
      username,
      password,
      RId,
      Rphone,
      identity,
      status,
      registTime,
      updateTime
      )
    values (
      #{username},
      #{password},
      #{RId},
      #{rphone},
      #{identity},
      #{status},
      #{registtime},
      #{updatetime}
      )
    </insert>
    <select id="checkUserName" resultType="com.ex.entity.UserAppRegist" parameterType="java.lang.String">
        SELECT * FROM userapp_regist WHERE username = #{username}
    </select>
</mapper>