<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ex.dao.UserAppPersonDataDao">

    <!--修改会员信息-->
    <update id="updateUserAppPersonData" parameterType="com.ex.entity.UserAppPersonData">
        UPDATE userapp_person_data
        <set>
            <if test="headUrl != null and headUrl != ''">
                headUrl = #{headUrl},
            </if>
            <if test="phone != null and phone != ''">
                phone = #{phone},
            </if>
            <if test="nickName != null and nickName != ''">
                nickName = #{nickName},
            </if>
            <if test="updatetime != null">
                updatetime = #{updatetime}
            </if>
        </set>
        WHERE registUserId = #{registUserId}
    </update>

</mapper>